//color
$white:#ffff;
$green:#2bbe06;
$gray:#a0a0a3;
$sucsess:#6fb586;
$gray-light:#e7e7e7;
$body:#323232;
$gray-text:#bcbcbc;
//background-color
$bg-black-rgb:rgba(0,0,0,0.5);
$bg-lemon:#c5bc58;
$bg-black:#0d0e0d;
$bg-black-light:#111118;
$bg-inputText:#1F1F2C;
$bg-gray:#171720;
$bg-dark:#15151e;
//font
$font-serif:Source Sans Pro,sans-serif;
$font:Playfair Display,sans-serif;

//border
$borderInput:#1f1f2c;
$border-fa:rgba(253,253,253,0.1);